<div class="index-container">
  
  <div id="container">
    <img src="images/beer.png">
    <button type="button" class="btn btn-primary"><a href="/beers">Check the Beers!</a></button>
    <button type="button" class="btn btn-primary"><a href="/random-beers">Check a random Beer!</a></button>
  </div>


</div>